### Nettoyage de la base lic_comm :

In [3]:

#Importation des modules
import numpy as np
import pandas as pd
import seaborn as sns
import pyproj
import fiona
import geopandas

In [70]:
#Importation des données

#Définition du chemin d'accès des bases licenciés et population :

chemin_lic_comm = "https://www.data.gouv.fr/fr/datasets/r/9b002e32-0ec9-40fc-9292-cddeae4416c6"
chemmin_pop_dep = 'C:/Users/Cosima/Documents/Ensae/Projet python/pop_dep_2019.xlsx'

#lic_comm = pd.read_csv("https://www.data.gouv.fr/fr/datasets/r/9b002e32-0ec9-40fc-9292-cddeae4416c6", encoding="utf-8", sep=";")
#lic_comm.head()

In [5]:
print(lic_comm.dtypes)
lic_comm.columns

Code Commune        object
Commune             object
Code QPV            object
Nom QPV             object
Département         object
Région              object
Statut géo          object
Code                 int64
Fédération          object
F - 1 à 4 ans        int64
F - 5 à 9 ans        int64
F - 10 à 14 ans      int64
F - 15 à 19 ans      int64
F - 20 à 24 ans      int64
F - 25 à 29 ans      int64
F - 30 à 34 ans      int64
F - 35 à 39 ans      int64
F - 40 à 44 ans      int64
F - 45 à 49 ans      int64
F - 50 à 54 ans      int64
F - 55 à 59 ans      int64
F - 60 à 64 ans      int64
F - 65 à 69 ans      int64
F - 70 à 74 ans      int64
F - 75 à 79 ans      int64
F - 80 à 99 ans      int64
F - NR               int64
H - 1 à 4 ans        int64
H - 5 à 9 ans        int64
H - 10 à 14 ans      int64
H - 15 à 19 ans      int64
H - 20 à 24 ans      int64
H - 25 à 29 ans      int64
H - 30 à 34 ans      int64
H - 35 à 39 ans      int64
H - 40 à 44 ans      int64
H - 45 à 49 ans      int64
H - 50 à 54 ans      int64
H - 55 à 59 ans      int64
H - 60 à 64 ans      int64
H - 65 à 69 ans      int64
H - 70 à 74 ans      int64
H - 75 à 79 ans      int64
H - 80 à 99 ans      int64
H - NR               int64
NR - 5 à 9 ans       int64
NR - 10 à 14 ans     int64
NR - 15 à 19 ans     int64
NR - 30 à 34 ans     int64
NR - 40 à 44 ans     int64
NR - 45 à 49 ans     int64
NR - 70 à 74 ans     int64
NR - NR              int64
Total                int64
dtype: object

Index(['Code Commune', 'Commune', 'Code QPV', 'Nom QPV', 'Département',
       'Région', 'Statut géo', 'Code', 'Fédération', 'F - 1 à 4 ans',
       'F - 5 à 9 ans', 'F - 10 à 14 ans', 'F - 15 à 19 ans',
       'F - 20 à 24 ans', 'F - 25 à 29 ans', 'F - 30 à 34 ans',
       'F - 35 à 39 ans', 'F - 40 à 44 ans', 'F - 45 à 49 ans',
       'F - 50 à 54 ans', 'F - 55 à 59 ans', 'F - 60 à 64 ans',
       'F - 65 à 69 ans', 'F - 70 à 74 ans', 'F - 75 à 79 ans',
       'F - 80 à 99 ans', 'F - NR', 'H - 1 à 4 ans', 'H - 5 à 9 ans',
       'H - 10 à 14 ans', 'H - 15 à 19 ans', 'H - 20 à 24 ans',
       'H - 25 à 29 ans', 'H - 30 à 34 ans', 'H - 35 à 39 ans',
       'H - 40 à 44 ans', 'H - 45 à 49 ans', 'H - 50 à 54 ans',
       'H - 55 à 59 ans', 'H - 60 à 64 ans', 'H - 65 à 69 ans',
       'H - 70 à 74 ans', 'H - 75 à 79 ans', 'H - 80 à 99 ans', 'H - NR',
       'NR - 5 à 9 ans', 'NR - 10 à 14 ans', 'NR - 15 à 19 ans',
       'NR - 30 à 34 ans', 'NR - 40 à 44 ans', 'NR - 45 à 49 ans',
       'NR - 70 à 74 ans', 'NR - NR', 'Total'],
      dtype='object')

In [123]:
lic_comm['Département'].unique()

array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,
       21, 22, 23, 24, 25, 26, 27, 28, 29, '29', '2A', '2B', '30', 30, 31,
       32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48,
       49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65,
       66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82,
       83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 971, 972,
       '972', '973', '974', '01', '02', '03', '04', '05', '06', '07',
       '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18',
       '19', '21', '22', '23', '24', '25', '26', '27', '28', '31', '32',
       '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43',
       '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54',
       '55', '56', '57', '58', '59', '60', '61', '62', '63', '64', '65',
       '66', '67', '68', '69', '70', '71', '72', '73', '74', '75', '76',
       '77', '78', '79', '80', '81', '82', '83', '84', '85', '86', '87',
       '88', '89', '90', '91', '92', '93', '94', '95', '971', '975',
       '976', '977', '978', '980', '986', '987', '988', 'ETR', '100'],
      dtype=object)

In [6]:
#Conversion des variables de type object en character

lic_comm['Département'] = lic_comm['Département'].astype('string')
lic_comm['Code Commune'] = lic_comm['Code Commune'].astype('string')
lic_comm['Commune'] = lic_comm['Commune'].astype('string')
lic_comm['Code QPV'] = lic_comm['Code QPV'].astype('string')
lic_comm['Nom QPv'] = lic_comm['Nom QPV'].astype('string')
lic_comm['Région'] = lic_comm['Région'].astype('string')
lic_comm['Code'] = lic_comm['Code'].astype('string')
lic_comm['Fédération'] = lic_comm['Fédération'].astype('string')
lic_comm['Statut géo'] = lic_comm['Statut géo'].astype('string')

In [20]:
#Enlever les données hors champ de la base lic_comm : variables qui contiennent un 2 ou 3 dans Statut géo

lic_comm[lic_comm['Statut géo'].str.contains('2')]

lic_comm = lic_comm[~lic_comm['Statut géo'].str.contains('2')]
lic_comm = lic_comm[~lic_comm['Statut géo'].str.contains('3')]

In [7]:
lic_comm['Département'].unique()

<StringArray>
[  '1',   '2',   '3',   '4',   '5',   '6',   '7',   '8',   '9',  '10',
 ...
 '975', '976', '977', '978', '980', '986', '987', '988', 'ETR', '100']
Length: 119, dtype: string

In [8]:
lic_comm['Département'].nunique()

119

In [9]:
lic_comm[lic_comm['Département']=='01']

,Code Commune,Commune,Code QPV,Nom QPV,Département,Région,Statut géo,Code,Fédération,F - 1 à 4 ans,...,NR - 5 à 9 ans,NR - 10 à 14 ans,NR - 15 à 19 ans,NR - 30 à 34 ans,NR - 40 à 44 ans,NR - 45 à 49 ans,NR - 70 à 74 ans,NR - NR,Total,Nom QPv
938505,NR - Non réparti,<NA>,NR - Non réparti,NaN,01,Auvergne-Rhône-Alpes,1.Champ geoc,406,F des Clubs de la Défense,3,...,0,0,0,0,0,0,0,0,972,<NA>
938506,NR - Non réparti,<NA>,NR - Non réparti,NaN,01,Auvergne-Rhône-Alpes,1.Champ geoc,411,F Sportive de la Police Nationale,0,...,0,0,0,0,0,0,0,0,85,<NA>
939222,NR - Non réparti,<NA>,NR - Non réparti,NaN,01,Auvergne-Rhône-Alpes,3.NR,408,F Sportive et Culturelle de France,109,...,0,0,0,0,0,0,0,0,1764,<NA>

In [11]:
# Modification de la variable 'Département' : nb qui commencent pas par 0 et inf à 10=> leur rejouter un 0
for i in range(1,10) :
    i = str(i)
    lic_comm['Département'] = np.where(lic_comm['Département'] == i, '0' + i, lic_comm['Département'])

#lic_comm[(lic_comm['Département'] == '1') | (lic_comm['Département'] == '2') | (lic_comm['Département'] == '3')]

In [34]:
#Enlever les lignes où apprait la mention 'NR' dans la variable commune :
lic_comm = lic_comm.dropna(subset=['Commune'])
print(lic_comm.index) #938505 observations

Index([     0,      1,      2,      3,      4,      5,      6,      7,      8,
            9,
       ...
       938495, 938496, 938497, 938498, 938499, 938500, 938501, 938502, 938503,
       938504],
      dtype='int64', length=938505)

In [13]:
print(lic_comm['Département'].nunique()) #103 codes département uniques : le code semble avoir fonctionné
lic_comm["Département"].unique() #Les départements commencent bien par 0 lorsque seulement un chiffre donc ok

103

array(['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11',
       '12', '13', '14', '15', '16', '17', '18', '19', '21', '22', '23',
       '24', '25', '26', '27', '28', '29', '2A', '2B', '30', '31', '32',
       '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43',
       '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54',
       '55', '56', '57', '58', '59', '60', '61', '62', '63', '64', '65',
       '66', '67', '68', '69', '70', '71', '72', '73', '74', '75', '76',
       '77', '78', '79', '80', '81', '82', '83', '84', '85', '86', '87',
       '88', '89', '90', '91', '92', '93', '94', '95', '971', '972',
       '973', '974', '100', '977', 'ETR'], dtype=object)

In [15]:
### Ajouter les variables population du dépratement à partir du fichier pop_dep_2019
pop_dep = pd.read_excel('C:/Users/Cosima/Documents/Ensae/Projet python/pop_dep_2019.xlsx', sheet_name=1,
                        skiprows=7) 
#
# lic_comm_a['code_commune'] = lic_comm_a['code_commune'].astype('string') #conversion du code commune en string
pop_dep.head()

,Code région,Nom de la région,Code département,Nom du département,Nombre d'arrondissements,Nombre de cantons,Nombre de communes,Population municipale,Population totale
0,84,Auvergne-Rhône-Alpes,01,Ain,4,23.0,393,652432,668565
1,32,Hauts-de-France,02,Aisne,5,21.0,800,531345,543368
2,84,Auvergne-Rhône-Alpes,03,Allier,3,19.0,317,335975,344922
3,93,Provence-Alpes-Côte d'Azur,04,Alpes-de-Haute-Provence,4,15.0,198,164308,168867
4,93,Provence-Alpes-Côte d'Azur,05,Hautes-Alpes,2,15.0,162,141220,145791

In [18]:
pop_dep.index #100 observations 
print(pop_dep['Code département'].unique())

['01' '02' '03' '04' '05' '06' '07' '08' '09' '10' '11' '12' '13' '14'
 '15' '16' '17' '18' '19' '21' '22' '23' '24' '25' '26' '27' '28' '29'
 '2A' '2B' '30' '31' '32' '33' '34' '35' '36' '37' '38' '39' '40' '41'
 '42' '43' '44' '45' '46' '47' '48' '49' '50' '51' '52' '53' '54' '55'
 '56' '57' '58' '59' '60' '61' '62' '63' '64' '65' '66' '67' '68' '69'
 '70' '71' '72' '73' '74' '75' '76' '77' '78' '79' '80' '81' '82' '83'
 '84' '85' '86' '87' '88' '89' '90' '91' '92' '93' '94' '95' '971' '972'
 '973' '974']

In [25]:
print(lic_comm.dtypes)
lic_comm['Département'] = lic_comm['Département'].astype('string')

Code Commune        string[python]
Commune             string[python]
Code QPV            string[python]
Nom QPV                     object
Département         string[python]
Région              string[python]
Statut géo          string[python]
Code                string[python]
Fédération          string[python]
F - 1 à 4 ans                int64
F - 5 à 9 ans                int64
F - 10 à 14 ans              int64
F - 15 à 19 ans              int64
F - 20 à 24 ans              int64
F - 25 à 29 ans              int64
F - 30 à 34 ans              int64
F - 35 à 39 ans              int64
F - 40 à 44 ans              int64
F - 45 à 49 ans              int64
F - 50 à 54 ans              int64
F - 55 à 59 ans              int64
F - 60 à 64 ans              int64
F - 65 à 69 ans              int64
F - 70 à 74 ans              int64
F - 75 à 79 ans              int64
F - 80 à 99 ans              int64
F - NR                       int64
H - 1 à 4 ans                int64
H - 5 à 9 ans                int64
H - 10 à 14 ans              int64
H - 15 à 19 ans              int64
H - 20 à 24 ans              int64
H - 25 à 29 ans              int64
H - 30 à 34 ans              int64
H - 35 à 39 ans              int64
H - 40 à 44 ans              int64
H - 45 à 49 ans              int64
H - 50 à 54 ans              int64
H - 55 à 59 ans              int64
H - 60 à 64 ans              int64
H - 65 à 69 ans              int64
H - 70 à 74 ans              int64
H - 75 à 79 ans              int64
H - 80 à 99 ans              int64
H - NR                       int64
NR - 5 à 9 ans               int64
NR - 10 à 14 ans             int64
NR - 15 à 19 ans             int64
NR - 30 à 34 ans             int64
NR - 40 à 44 ans             int64
NR - 45 à 49 ans             int64
NR - 70 à 74 ans             int64
NR - NR                      int64
Total                        int64
Nom QPv             string[python]
dtype: object

In [26]:
lic_comm['Département'].unique()  #100

<StringArray>
[ '01',  '02',  '03',  '04',  '05',  '06',  '07',  '08',  '09',  '10',  '11',
  '12',  '13',  '14',  '15',  '16',  '17',  '18',  '19',  '21',  '22',  '23',
  '24',  '25',  '26',  '27',  '28',  '29',  '2A',  '2B',  '30',  '31',  '32',
  '33',  '34',  '35',  '36',  '37',  '38',  '39',  '40',  '41',  '42',  '43',
  '44',  '45',  '46',  '47',  '48',  '49',  '50',  '51',  '52',  '53',  '54',
  '55',  '56',  '57',  '58',  '59',  '60',  '61',  '62',  '63',  '64',  '65',
  '66',  '67',  '68',  '69',  '70',  '71',  '72',  '73',  '74',  '75',  '76',
  '77',  '78',  '79',  '80',  '81',  '82',  '83',  '84',  '85',  '86',  '87',
  '88',  '89',  '90',  '91',  '92',  '93',  '94',  '95', '971', '972', '973',
 '974']
Length: 100, dtype: string

In [35]:
lic_comm[lic_comm['Département'] == '29']

,Code Commune,Commune,Code QPV,Nom QPV,Département,Région,Statut géo,Code,Fédération,F - 1 à 4 ans,...,NR - 5 à 9 ans,NR - 10 à 14 ans,NR - 15 à 19 ans,NR - 30 à 34 ans,NR - 40 à 44 ans,NR - 45 à 49 ans,NR - 70 à 74 ans,NR - NR,Total,Nom QPv
241153,29001,Argol,CSZ,NaN,29,Bretagne,1.Champ geoc,105,FF de Basketball,0,...,0,0,0,0,0,0,0,0,1,<NA>
241154,29001,Argol,CSZ,NaN,29,Bretagne,1.Champ geoc,107,FF de Canoë-Kayak et Sports de Pagaie,0,...,0,0,0,0,0,0,0,0,1,<NA>
241155,29001,Argol,CSZ,NaN,29,Bretagne,1.Champ geoc,108,FF de Cyclisme,0,...,0,0,0,0,0,0,0,0,1,<NA>
241156,29001,Argol,CSZ,NaN,29,Bretagne,1.Champ geoc,109,FF d'Équitation,0,...,0,0,0,0,0,0,0,0,21,<NA>
241157,29001,Argol,CSZ,NaN,29,Bretagne,1.Champ geoc,111,FF de Football,0,...,0,0,0,0,0,0,0,0,47,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251766,29302,Pont-de-Buis-lès-Quimerch,CSZ,NaN,29,Bretagne,1.Champ geoc,420,F Sportive des ASPTT,0,...,0,0,0,0,0,0,0,0,4,<NA>
251767,29302,Pont-de-Buis-lès-Quimerch,CSZ,NaN,29,Bretagne,1.Champ geoc,503,FF du Sport Adapté,0,...,0,0,0,0,0,0,0,0,2,<NA>
251768,29302,Pont-de-Buis-lès-Quimerch,CSZ,NaN,29,Bretagne,1.Champ geoc,601,FF du Sport Universitaire,0,...,0,0,0,0,0,0,0,0,1,<NA>
251769,29302,Pont-de-Buis-lès-Quimerch,CSZ,NaN,29,Bretagne,1.Champ geoc,602,F Sportive Educative de l'Enseignement Catholi...,0,...,28,5,0,0,0,0,0,0,96,<NA>
251770,29302,Pont-de-Buis-lès-Quimerch,CSZ,NaN,29,Bretagne,1.Champ geoc,604,Union Nationale du Sport Scolaire (UNSS),0,...,0,0,0,0,0,0,0,0,119,<NA>

In [36]:
pop_dep['Code département'].unique()

array(['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11',
       '12', '13', '14', '15', '16', '17', '18', '19', '21', '22', '23',
       '24', '25', '26', '27', '28', '29', '2A', '2B', '30', '31', '32',
       '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43',
       '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54',
       '55', '56', '57', '58', '59', '60', '61', '62', '63', '64', '65',
       '66', '67', '68', '69', '70', '71', '72', '73', '74', '75', '76',
       '77', '78', '79', '80', '81', '82', '83', '84', '85', '86', '87',
       '88', '89', '90', '91', '92', '93', '94', '95', '971', '972',
       '973', '974'], dtype=object)

In [39]:
pop_dep.dtypes

Code région                   int64
Nom de la région             object
Code département             object
Nom du département           object
Nombre d'arrondissements      int64
Nombre de cantons           float64
Nombre de communes            int64
Population municipale         int64
Population totale             int64
dtype: object

In [40]:
pop_dep['Code département'] = pop_dep['Code département'].astype('string')

In [41]:
pop_dep.head()

,Code région,Nom de la région,Code département,Nom du département,Nombre d'arrondissements,Nombre de cantons,Nombre de communes,Population municipale,Population totale
0,84,Auvergne-Rhône-Alpes,01,Ain,4,23.0,393,652432,668565
1,32,Hauts-de-France,02,Aisne,5,21.0,800,531345,543368
2,84,Auvergne-Rhône-Alpes,03,Allier,3,19.0,317,335975,344922
3,93,Provence-Alpes-Côte d'Azur,04,Alpes-de-Haute-Provence,4,15.0,198,164308,168867
4,93,Provence-Alpes-Côte d'Azur,05,Hautes-Alpes,2,15.0,162,141220,145791

In [43]:
pop_dep = pop_dep[['Nom de la région', 'Code département', 'Nom du département', 'Population municipale', 'Population totale']] #Faudra décider si on garde pop totale ou minicipale

In [44]:
pop_dep.head()

,Nom de la région,Code département,Nom du département,Population municipale,Population totale
0,Auvergne-Rhône-Alpes,01,Ain,652432,668565
1,Hauts-de-France,02,Aisne,531345,543368
2,Auvergne-Rhône-Alpes,03,Allier,335975,344922
3,Provence-Alpes-Côte d'Azur,04,Alpes-de-Haute-Provence,164308,168867
4,Provence-Alpes-Côte d'Azur,05,Hautes-Alpes,141220,145791

In [45]:
lic_comm['Code Commune'].nunique()

34896

In [46]:
lic_comm.dtypes

Code Commune        string[python]
Commune             string[python]
Code QPV            string[python]
Nom QPV                     object
Département         string[python]
Région              string[python]
Statut géo          string[python]
Code                string[python]
Fédération          string[python]
F - 1 à 4 ans                int64
F - 5 à 9 ans                int64
F - 10 à 14 ans              int64
F - 15 à 19 ans              int64
F - 20 à 24 ans              int64
F - 25 à 29 ans              int64
F - 30 à 34 ans              int64
F - 35 à 39 ans              int64
F - 40 à 44 ans              int64
F - 45 à 49 ans              int64
F - 50 à 54 ans              int64
F - 55 à 59 ans              int64
F - 60 à 64 ans              int64
F - 65 à 69 ans              int64
F - 70 à 74 ans              int64
F - 75 à 79 ans              int64
F - 80 à 99 ans              int64
F - NR                       int64
H - 1 à 4 ans                int64
H - 5 à 9 ans                int64
H - 10 à 14 ans              int64
H - 15 à 19 ans              int64
H - 20 à 24 ans              int64
H - 25 à 29 ans              int64
H - 30 à 34 ans              int64
H - 35 à 39 ans              int64
H - 40 à 44 ans              int64
H - 45 à 49 ans              int64
H - 50 à 54 ans              int64
H - 55 à 59 ans              int64
H - 60 à 64 ans              int64
H - 65 à 69 ans              int64
H - 70 à 74 ans              int64
H - 75 à 79 ans              int64
H - 80 à 99 ans              int64
H - NR                       int64
NR - 5 à 9 ans               int64
NR - 10 à 14 ans             int64
NR - 15 à 19 ans             int64
NR - 30 à 34 ans             int64
NR - 40 à 44 ans             int64
NR - 45 à 49 ans             int64
NR - 70 à 74 ans             int64
NR - NR                      int64
Total                        int64
Nom QPv             string[python]
dtype: object

In [194]:
pop_dep.columns

Index(['Nom de la région', 'Code département', 'Nom du département',
       'Population municipale', 'Population totale'],
      dtype='object')

In [195]:
lic_comm.columns

Index(['Département', 'Code', 'Fédération', 'Région', 'categorie',
       'nb_licencies', 'tranche_age', 'sexe'],
      dtype='object')

In [50]:
# On utilise un melt pour réduire la largeur du df comme trop de colonnes : à la place, on rajoute les variables 'sexe' et 'tranche_age', qui permettront de 
# faire des groupby et faciliter la manipulation de la base

#On groupe la base par département, qui est notre échelle d'analyse
lic_comm = lic_comm[['Département', 'Code', 'Fédération', 'Région', 'F - 1 à 4 ans',
       'F - 5 à 9 ans', 'F - 10 à 14 ans', 'F - 15 à 19 ans',
       'F - 20 à 24 ans', 'F - 25 à 29 ans', 'F - 30 à 34 ans',
       'F - 35 à 39 ans', 'F - 40 à 44 ans', 'F - 45 à 49 ans',
       'F - 50 à 54 ans', 'F - 55 à 59 ans', 'F - 60 à 64 ans',
       'F - 65 à 69 ans', 'F - 70 à 74 ans', 'F - 75 à 79 ans',
       'F - 80 à 99 ans', 'F - NR', 'H - 1 à 4 ans', 'H - 5 à 9 ans',
       'H - 10 à 14 ans', 'H - 15 à 19 ans', 'H - 20 à 24 ans',
       'H - 25 à 29 ans', 'H - 30 à 34 ans', 'H - 35 à 39 ans',
       'H - 40 à 44 ans', 'H - 45 à 49 ans', 'H - 50 à 54 ans',
       'H - 55 à 59 ans', 'H - 60 à 64 ans', 'H - 65 à 69 ans',
       'H - 70 à 74 ans', 'H - 75 à 79 ans', 'H - 80 à 99 ans'
       ]].groupby([ 'Département', 'Code', 'Fédération', 'Région']).sum().reset_index()

In [53]:
lic_comm.head()
print(lic_comm.index) #9217

RangeIndex(start=0, stop=9217, step=1)

In [49]:
test.head()
print(test.index) #938505 observations

RangeIndex(start=0, stop=938505, step=1)

In [54]:
lic_comm = lic_comm.melt(id_vars=['Département', 'Code', 'Fédération', 'Région'],
                         value_vars= ['F - 1 à 4 ans',
       'F - 5 à 9 ans', 'F - 10 à 14 ans', 'F - 15 à 19 ans',
       'F - 20 à 24 ans', 'F - 25 à 29 ans', 'F - 30 à 34 ans',
       'F - 35 à 39 ans', 'F - 40 à 44 ans', 'F - 45 à 49 ans',
       'F - 50 à 54 ans', 'F - 55 à 59 ans', 'F - 60 à 64 ans',
       'F - 65 à 69 ans', 'F - 70 à 74 ans', 'F - 75 à 79 ans',
       'F - 80 à 99 ans', 'H - 1 à 4 ans', 'H - 5 à 9 ans',
       'H - 10 à 14 ans', 'H - 15 à 19 ans', 'H - 20 à 24 ans',
       'H - 25 à 29 ans', 'H - 30 à 34 ans', 'H - 35 à 39 ans',
       'H - 40 à 44 ans', 'H - 45 à 49 ans', 'H - 50 à 54 ans',
       'H - 55 à 59 ans', 'H - 60 à 64 ans', 'H - 65 à 69 ans',
       'H - 70 à 74 ans', 'H - 75 à 79 ans', 'H - 80 à 99 ans'], var_name = 'categorie',  value_name='nb_licencies')

In [55]:
lic_comm.head()

,Département,Code,Fédération,Région,categorie,nb_licencies
0,01,101,FF d'Athlétisme,Auvergne-Rhône-Alpes,F - 1 à 4 ans,4
1,01,102,FF d'Aviron,Auvergne-Rhône-Alpes,F - 1 à 4 ans,0
2,01,103,FF de Badminton,Auvergne-Rhône-Alpes,F - 1 à 4 ans,0
3,01,105,FF de Basketball,Auvergne-Rhône-Alpes,F - 1 à 4 ans,19
4,01,106,FF de Boxe,Auvergne-Rhône-Alpes,F - 1 à 4 ans,0

Créer une nouvelle variable sexe et tranche d'âge :

In [56]:
lic_comm['tranche_age'] = 'Ensemble' #Valeur par defaut, pour qu'elle soit bien condiérée comme une variale de type caractère
lic_comm['sexe'] = "Ensemble" #Pareil
#lic_comm['qpv'] = 'False' #Qpv : nb de licencies vivant dans un qartier prioritaire des politiques de la ville


#Ajout variable 'tranche_age' : au total 9 catégories d'âge
lic_comm['tranche_age'] = np.where(lic_comm['categorie'].str.contains("1 à 4"), "1-4", lic_comm['tranche_age'])
lic_comm['tranche_age'] = np.where(lic_comm['categorie'].str.contains("5 à 9"), "5-9", lic_comm['tranche_age'])
lic_comm['tranche_age'] = np.where(lic_comm['categorie'].str.contains("10 à 14"), "10-14", lic_comm['tranche_age'])
lic_comm['tranche_age'] = np.where(lic_comm['categorie'].str.contains("15 à 19"), "15-19", lic_comm['tranche_age'])
lic_comm['tranche_age'] = np.where(lic_comm['categorie'].str.contains("20 à 24"), "20-24", lic_comm['tranche_age'])
lic_comm['tranche_age'] = np.where(lic_comm['categorie'].str.contains("25 à 29"), "25-29", lic_comm['tranche_age'])

lic_comm['tranche_age'] = np.where((lic_comm['categorie'].str.contains("30 à 34")) |
                                   (lic_comm['categorie'].str.contains("35 à 39")), "30-39", lic_comm['tranche_age'])

lic_comm['tranche_age'] = np.where((lic_comm['categorie'].str.contains("40 à 44")) |
                                   (lic_comm['categorie'].str.contains("45 à 49")), "40-49", lic_comm['tranche_age'])

lic_comm['tranche_age'] = np.where((lic_comm['categorie'].str.contains("50 à 54")) |
                                   (lic_comm['categorie'].str.contains("55 à 59")), "50-59", lic_comm['tranche_age'])

lic_comm['tranche_age'] = np.where((lic_comm['categorie'].str.contains("60 à 64")) |
                                   (lic_comm['categorie'].str.contains("65 à 69")) |
                                   (lic_comm['categorie'].str.contains("70 à 74")) |
                                   (lic_comm['categorie'].str.contains("75 à 79")) |
                                   (lic_comm['categorie'].str.contains("80 à 99")), "60-99", lic_comm['tranche_age'])

lic_comm.head()

In [57]:
#Ajout variable sexe :
lic_comm['sexe'] = np.where(lic_comm['categorie'].str.contains("F"), "F", lic_comm['sexe'])
lic_comm['sexe'] = np.where(lic_comm['categorie'].str.contains("H"), "H", lic_comm['sexe'])

In [58]:
print(lic_comm.index) #313378 observations
lic_comm.head()

RangeIndex(start=0, stop=313378, step=1)

,Département,Code,Fédération,Région,categorie,nb_licencies,tranche_age,sexe
0,01,101,FF d'Athlétisme,Auvergne-Rhône-Alpes,F - 1 à 4 ans,4,1-4,F
1,01,102,FF d'Aviron,Auvergne-Rhône-Alpes,F - 1 à 4 ans,0,1-4,F
2,01,103,FF de Badminton,Auvergne-Rhône-Alpes,F - 1 à 4 ans,0,1-4,F
3,01,105,FF de Basketball,Auvergne-Rhône-Alpes,F - 1 à 4 ans,19,1-4,F
4,01,106,FF de Boxe,Auvergne-Rhône-Alpes,F - 1 à 4 ans,0,1-4,F

In [29]:
#Supprimer les valeurs manquantes ou nulles de la variable 'nb_licencies'
#lic_comm = lic_comm[~lic_comm['nb_licencies'].isna()] #Suppresion des valeurs manquantes
#lic_comm = lic_comm[(lic_comm['nb_licencies'] != 0)] #Suppression des fédérationsxcommunexcategorie pour lesquelles il n'y a aucun licencié
#lic_comm.index

Index([       7,       39,       78,       79,       85,       91,      121,
            132,      148,      171,
       ...
       34755126, 34755127, 34755128, 34755129, 34755130, 34755131, 34755132,
       34755133, 34755134, 34755135],
      dtype='int64', length=5264412)

In [59]:
# Ajouter les variables de population du département à la base lic_comm viaa la variable département
test = pd.merge(lic_comm, pop_dep, left_on='Département', right_on='Code département', how='left')

In [67]:
pop_dep.dtypes

Nom de la région                 object
Code département         string[python]
Nom du département               object
Population municipale             int64
Population totale                 int64
dtype: object

In [60]:
test.head()

,Département,Code,Fédération,Région,categorie,nb_licencies,tranche_age,sexe,Nom de la région,Code département,Nom du département,Population municipale,Population totale
0,01,101,FF d'Athlétisme,Auvergne-Rhône-Alpes,F - 1 à 4 ans,4,1-4,F,Auvergne-Rhône-Alpes,01,Ain,652432,668565
1,01,102,FF d'Aviron,Auvergne-Rhône-Alpes,F - 1 à 4 ans,0,1-4,F,Auvergne-Rhône-Alpes,01,Ain,652432,668565
2,01,103,FF de Badminton,Auvergne-Rhône-Alpes,F - 1 à 4 ans,0,1-4,F,Auvergne-Rhône-Alpes,01,Ain,652432,668565
3,01,105,FF de Basketball,Auvergne-Rhône-Alpes,F - 1 à 4 ans,19,1-4,F,Auvergne-Rhône-Alpes,01,Ain,652432,668565
4,01,106,FF de Boxe,Auvergne-Rhône-Alpes,F - 1 à 4 ans,0,1-4,F,Auvergne-Rhône-Alpes,01,Ain,652432,668565

In [35]:
test[['Nom du département', 'Fédération', 'sexe', 'tranche_age', 'nb_licencies']].groupby(['Nom du département', 'Fédération', 'sexe', 'tranche_age'])

   code_commune  pop_2018  popf_2018  poph_2018
0          1001       770        382        388
1          1001       770        382        388
2          1001       770        382        388
3          1001       770        382        388
4          1001       770        382        388

In [61]:

result = test[['Nom du département', 'Fédération', 'sexe', 'tranche_age', 'nb_licencies']].groupby(['Nom du département', 'Fédération', 'sexe', 'tranche_age']).agg(total_licencies=('nb_licencies', 'sum')).reset_index()

In [63]:
result.head()

,Nom du département,Fédération,sexe,tranche_age,total_licencies
0,Ain,F Nationale du Sport en Milieu Rural,F,1-4,7
1,Ain,F Nationale du Sport en Milieu Rural,F,10-14,11
2,Ain,F Nationale du Sport en Milieu Rural,F,15-19,3
3,Ain,F Nationale du Sport en Milieu Rural,F,20-24,2
4,Ain,F Nationale du Sport en Milieu Rural,F,25-29,6

In [64]:
result[(result['Nom du département'] == 'Finistère') & (result['Fédération'] == 'FF de Football')]

      Nom du département      Fédération sexe tranche_age  total_licencies
55920          Finistère  FF de Football    F         1-4                0
55921          Finistère  FF de Football    F       10-14              911
55922          Finistère  FF de Football    F       15-19              567
55923          Finistère  FF de Football    F       20-24              243
55924          Finistère  FF de Football    F       25-29              175
55925          Finistère  FF de Football    F       30-39              206
55926          Finistère  FF de Football    F       40-49              212
55927          Finistère  FF de Football    F         5-9              552
55928          Finistère  FF de Football    F       50-59              126
55929          Finistère  FF de Football    F       60-99               91
55930          Finistère  FF de Football    H         1-4                0
55931          Finistère  FF de Football    H       10-14             7662
55932          Finistère  FF de Football    H       15-19             4933
55933          Finistère  FF de Football    H       20-24             3625
55934          Finistère  FF de Football    H       25-29             3058
55935          Finistère  FF de Football    H       30-39             4456
55936          Finistère  FF de Football    H       40-49             3120
55937          Finistère  FF de Football    H         5-9             7362
55938          Finistère  FF de Football    H       50-59             1664
55939          Finistère  FF de Football    H       60-99             1289

In [66]:
result[(result['Nom du département'] == 'Ille-et-Vilaine') & (result['Fédération'] == 'FF de Football')]

      Nom du département      Fédération sexe tranche_age  total_licencies
88360    Ille-et-Vilaine  FF de Football    F         1-4                0
88361    Ille-et-Vilaine  FF de Football    F       10-14             1166
88362    Ille-et-Vilaine  FF de Football    F       15-19              617
88363    Ille-et-Vilaine  FF de Football    F       20-24              269
88364    Ille-et-Vilaine  FF de Football    F       25-29              204
88365    Ille-et-Vilaine  FF de Football    F       30-39              259
88366    Ille-et-Vilaine  FF de Football    F       40-49              200
88367    Ille-et-Vilaine  FF de Football    F         5-9              714
88368    Ille-et-Vilaine  FF de Football    F       50-59               84
88369    Ille-et-Vilaine  FF de Football    F       60-99               70
88370    Ille-et-Vilaine  FF de Football    H         1-4                0
88371    Ille-et-Vilaine  FF de Football    H       10-14             9978
88372    Ille-et-Vilaine  FF de Football    H       15-19             5445
88373    Ille-et-Vilaine  FF de Football    H       20-24             3959
88374    Ille-et-Vilaine  FF de Football    H       25-29             3512
88375    Ille-et-Vilaine  FF de Football    H       30-39             5383
88376    Ille-et-Vilaine  FF de Football    H       40-49             3730
88377    Ille-et-Vilaine  FF de Football    H         5-9            10269
88378    Ille-et-Vilaine  FF de Football    H       50-59             1444
88379    Ille-et-Vilaine  FF de Football    H       60-99              922

In [69]:
### fonction pour nettoyer la base lic_comm :

def nettoyer_lic_comm(chemin_acces_lic_comm, chemin_acces_pop_dep) :
    #Importation de la base
    lic_comm = pd.read_csv(chemin_acces_lic_comm, encoding="utf-8", sep=";")

    #Conversion des variables de type object en character

    lic_comm['Département'] = lic_comm['Département'].astype('string')
    lic_comm['Code Commune'] = lic_comm['Code Commune'].astype('string')
    lic_comm['Commune'] = lic_comm['Commune'].astype('string')
    lic_comm['Code QPV'] = lic_comm['Code QPV'].astype('string')
    lic_comm['Nom QPv'] = lic_comm['Nom QPV'].astype('string')
    lic_comm['Région'] = lic_comm['Région'].astype('string')
    lic_comm['Code'] = lic_comm['Code'].astype('string')
    lic_comm['Fédération'] = lic_comm['Fédération'].astype('string')
    lic_comm['Statut géo'] = lic_comm['Statut géo'].astype('string')

    #Enlever les données hors champ de la base lic_comm : variables qui contiennent un 2 ou 3 dans Statut géo

    lic_comm[lic_comm['Statut géo'].str.contains('2')]

    lic_comm = lic_comm[~lic_comm['Statut géo'].str.contains('2')]
    lic_comm = lic_comm[~lic_comm['Statut géo'].str.contains('3')]

    # Modification de la variable 'Département' : nb qui commencent pas par 0 et inf à 10=> leur rejouter un 0
    for i in range(1,10) :
        i = str(i)
        lic_comm['Département'] = np.where(lic_comm['Département'] == i, '0' + i, lic_comm['Département'])


    lic_comm['Département'] = lic_comm['Département'].astype('string') #Variable Département reconvertie en character


    #Enlever les lignes où apprait la mention 'NR' dans la variable commune :
    lic_comm = lic_comm.dropna(subset=['Commune'])

    ### Ajouter les variables population du dépratement à partir du fichier pop_dep_2019
    pop_dep = pd.read_excel(chemin_acces_pop_dep, sheet_name=1, skiprows=7) 

    #Conversion des variables 'object' en string
    pop_dep['Code département'] = pop_dep['Code département'].astype('string')
    pop_dep['Nom du département'] = pop_dep['Nom du département'].astype('string')

    #selectiondes variables d'intérêt
    pop_dep = pop_dep[['Nom de la région', 'Code département', 'Nom du département', 'Population municipale', 'Population totale']] #Faudra décider si on garde pop totale ou minicipale
    
    # On utilise un melt pour réduire la largeur du df comme trop de colonnes : à la place, on rajoute les variables 'sexe' et 'tranche_age', qui permettront de 
# faire des groupby et faciliter la manipulation de la base

    #On groupe la base par département, qui est notre échelle d'analyse
    lic_comm = lic_comm[['Département', 'Code', 'Fédération', 'Région', 'F - 1 à 4 ans',
       'F - 5 à 9 ans', 'F - 10 à 14 ans', 'F - 15 à 19 ans',
       'F - 20 à 24 ans', 'F - 25 à 29 ans', 'F - 30 à 34 ans',
       'F - 35 à 39 ans', 'F - 40 à 44 ans', 'F - 45 à 49 ans',
       'F - 50 à 54 ans', 'F - 55 à 59 ans', 'F - 60 à 64 ans',
       'F - 65 à 69 ans', 'F - 70 à 74 ans', 'F - 75 à 79 ans',
       'F - 80 à 99 ans', 'F - NR', 'H - 1 à 4 ans', 'H - 5 à 9 ans',
       'H - 10 à 14 ans', 'H - 15 à 19 ans', 'H - 20 à 24 ans',
       'H - 25 à 29 ans', 'H - 30 à 34 ans', 'H - 35 à 39 ans',
       'H - 40 à 44 ans', 'H - 45 à 49 ans', 'H - 50 à 54 ans',
       'H - 55 à 59 ans', 'H - 60 à 64 ans', 'H - 65 à 69 ans',
       'H - 70 à 74 ans', 'H - 75 à 79 ans', 'H - 80 à 99 ans'
       ]].groupby([ 'Département', 'Code', 'Fédération', 'Région']).sum().reset_index()
    

    lic_comm = lic_comm.melt(id_vars=['Département', 'Code', 'Fédération', 'Région'],
                         value_vars= ['F - 1 à 4 ans',
       'F - 5 à 9 ans', 'F - 10 à 14 ans', 'F - 15 à 19 ans',
       'F - 20 à 24 ans', 'F - 25 à 29 ans', 'F - 30 à 34 ans',
       'F - 35 à 39 ans', 'F - 40 à 44 ans', 'F - 45 à 49 ans',
       'F - 50 à 54 ans', 'F - 55 à 59 ans', 'F - 60 à 64 ans',
       'F - 65 à 69 ans', 'F - 70 à 74 ans', 'F - 75 à 79 ans',
       'F - 80 à 99 ans', 'H - 1 à 4 ans', 'H - 5 à 9 ans',
       'H - 10 à 14 ans', 'H - 15 à 19 ans', 'H - 20 à 24 ans',
       'H - 25 à 29 ans', 'H - 30 à 34 ans', 'H - 35 à 39 ans',
       'H - 40 à 44 ans', 'H - 45 à 49 ans', 'H - 50 à 54 ans',
       'H - 55 à 59 ans', 'H - 60 à 64 ans', 'H - 65 à 69 ans',
       'H - 70 à 74 ans', 'H - 75 à 79 ans', 'H - 80 à 99 ans'], var_name = 'categorie',  value_name='nb_licencies')
    

    lic_comm['tranche_age'] = 'Ensemble' #Valeur par defaut, pour qu'elle soit bien condiérée comme une variale de type caractère
    lic_comm['sexe'] = "Ensemble" #Pareil
#lic_comm['qpv'] = 'False' #Qpv : nb de licencies vivant dans un qartier prioritaire des politiques de la ville


    #Ajout variable 'tranche_age' : au total 9 catégories d'âge : ici, aggrégation de certaines tranches d'âge (les pus agés) 
    lic_comm['tranche_age'] = np.where(lic_comm['categorie'].str.contains("1 à 4"), "1-4", lic_comm['tranche_age'])
    lic_comm['tranche_age'] = np.where(lic_comm['categorie'].str.contains("5 à 9"), "5-9", lic_comm['tranche_age'])
    lic_comm['tranche_age'] = np.where(lic_comm['categorie'].str.contains("10 à 14"), "10-14", lic_comm['tranche_age'])
    lic_comm['tranche_age'] = np.where(lic_comm['categorie'].str.contains("15 à 19"), "15-19", lic_comm['tranche_age'])
    lic_comm['tranche_age'] = np.where(lic_comm['categorie'].str.contains("20 à 24"), "20-24", lic_comm['tranche_age'])
    lic_comm['tranche_age'] = np.where(lic_comm['categorie'].str.contains("25 à 29"), "25-29", lic_comm['tranche_age'])
    lic_comm['tranche_age'] = np.where((lic_comm['categorie'].str.contains("30 à 34")) |
                                       (lic_comm['categorie'].str.contains("35 à 39")), "30-39", lic_comm['tranche_age'])

    lic_comm['tranche_age'] = np.where((lic_comm['categorie'].str.contains("40 à 44")) |
                                   (lic_comm['categorie'].str.contains("45 à 49")), "40-49", lic_comm['tranche_age'])

    lic_comm['tranche_age'] = np.where((lic_comm['categorie'].str.contains("50 à 54")) |
                                   (lic_comm['categorie'].str.contains("55 à 59")), "50-59", lic_comm['tranche_age'])

    lic_comm['tranche_age'] = np.where((lic_comm['categorie'].str.contains("60 à 64")) |
                                       (lic_comm['categorie'].str.contains("65 à 69")) |
                                       (lic_comm['categorie'].str.contains("70 à 74")) |
                                       (lic_comm['categorie'].str.contains("75 à 79")) |
                                       (lic_comm['categorie'].str.contains("80 à 99")), "60-99", lic_comm['tranche_age'])
    
    #Ajout de la variable sexe :
    lic_comm['sexe'] = np.where(lic_comm['categorie'].str.contains("F"), "F", lic_comm['sexe'])
    lic_comm['sexe'] = np.where(lic_comm['categorie'].str.contains("H"), "H", lic_comm['sexe'])

    # Ajouter les variables de population du département (base pop_dep) à la base lic_comm via la variable département :
    lic_comm = pd.merge(lic_comm, pop_dep, left_on='Département', right_on='Code département', how='left')

    return(lic_comm)

In [71]:
test_fonction = nettoyer_lic_comm(chemin_lic_comm, chemmin_pop_dep)

C:\Users\Cosima\AppData\Local\Temp\ipykernel_18824\1079879607.py:5: DtypeWarning: Columns (0,4) have mixed types. Specify dtype option on import or set low_memory=False.
  lic_comm = pd.read_csv(chemin_acces_lic_comm, encoding="utf-8", sep=";")

In [72]:
test_fonction.head()

,Département,Code,Fédération,Région,categorie,nb_licencies,tranche_age,sexe,Nom de la région,Code département,Nom du département,Population municipale,Population totale
0,01,101,FF d'Athlétisme,Auvergne-Rhône-Alpes,F - 1 à 4 ans,4,1-4,F,Auvergne-Rhône-Alpes,01,Ain,652432,668565
1,01,102,FF d'Aviron,Auvergne-Rhône-Alpes,F - 1 à 4 ans,0,1-4,F,Auvergne-Rhône-Alpes,01,Ain,652432,668565
2,01,103,FF de Badminton,Auvergne-Rhône-Alpes,F - 1 à 4 ans,0,1-4,F,Auvergne-Rhône-Alpes,01,Ain,652432,668565
3,01,105,FF de Basketball,Auvergne-Rhône-Alpes,F - 1 à 4 ans,19,1-4,F,Auvergne-Rhône-Alpes,01,Ain,652432,668565
4,01,106,FF de Boxe,Auvergne-Rhône-Alpes,F - 1 à 4 ans,0,1-4,F,Auvergne-Rhône-Alpes,01,Ain,652432,668565

In [73]:

result = test_fonction[['Nom du département', 'Fédération', 'sexe', 'tranche_age', 'nb_licencies']].groupby(['Nom du département', 'Fédération', 'sexe', 'tranche_age']).agg(total_licencies=('nb_licencies', 'sum')).reset_index()

result[(result['Nom du département'] == 'Ille-et-Vilaine') & (result['Fédération'] == 'FF de Football')]

      Nom du département      Fédération sexe tranche_age  total_licencies
88360    Ille-et-Vilaine  FF de Football    F         1-4                0
88361    Ille-et-Vilaine  FF de Football    F       10-14             1166
88362    Ille-et-Vilaine  FF de Football    F       15-19              617
88363    Ille-et-Vilaine  FF de Football    F       20-24              269
88364    Ille-et-Vilaine  FF de Football    F       25-29              204
88365    Ille-et-Vilaine  FF de Football    F       30-39              259
88366    Ille-et-Vilaine  FF de Football    F       40-49              200
88367    Ille-et-Vilaine  FF de Football    F         5-9              714
88368    Ille-et-Vilaine  FF de Football    F       50-59               84
88369    Ille-et-Vilaine  FF de Football    F       60-99               70
88370    Ille-et-Vilaine  FF de Football    H         1-4                0
88371    Ille-et-Vilaine  FF de Football    H       10-14             9978
88372    Ille-et-Vilaine  FF de Football    H       15-19             5445
88373    Ille-et-Vilaine  FF de Football    H       20-24             3959
88374    Ille-et-Vilaine  FF de Football    H       25-29             3512
88375    Ille-et-Vilaine  FF de Football    H       30-39             5383
88376    Ille-et-Vilaine  FF de Football    H       40-49             3730
88377    Ille-et-Vilaine  FF de Football    H         5-9            10269
88378    Ille-et-Vilaine  FF de Football    H       50-59             1444
88379    Ille-et-Vilaine  FF de Football    H       60-99              922